.navMainContainer {
  display: flex;
  align-items: center;

  /* border: 2px solid red; */
  gap: 10px;
  background-color: #232f3e;
  height: 60px;
}
.searchContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.dropdown {
  margin-right: 10px;
}

.searchInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}
.navContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.ShoppingCartIconContainer {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Additional styling as needed */
