.TodaysDealCardMainConatiner {
  /* border: 2px solid red; */
  width: 100%; /* Ensure full width */
  /* display: flex;
  align-items: center;
  gap: 30px; */
  /* overflow-y: auto; */
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  /* gap: 20px; */
  height: 95%;
}

.TodaysDealCard {
  height: 100%;
  /* border: 2px solid blue; */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Uncomment for vertical centering */
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
  width: 100%;
  /* height: 15%; */ /* Adjust height as needed */
}

.bannerDiscount {
  background-color: rgb(227, 62, 62);
  width: 40%;
  color: white;
  border-radius: 5px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
